form{
    background-color: rgba(233, 211, 191, 0.953);
    /* padding: 35vh 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputs > input{
    margin-top: 15px;
    width: 20vw;
    padding-top: 2vh;
    background-color: transparent;
    outline: none;
    border-bottom: solid;
    text-align: bottom;
    border: none;
    border-bottom: 3px solid rgb(151, 206, 211);
    color: black;
    border-radius: 3px;
    transform: translateX(0);
    transition: all .5s ease;
}
.inputs > input::placeholder{
    transform: translateX(0px); 
    transition: all .5s ease;
}
.inputs > input:focus::placeholder{
    transform: translateX(40vw);
    transition: all .5s ease;
}

.inputs>input:last-child{
    margin-bottom: 15px;
}


