.Cards {
    width: 100%;
    background-color: #F8F4E7;
    text-align: center;
  }

  .Favorites{
    min-height: 94vh;
  }

  .Cards-wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px 12%;
    padding: 40px 0;
    list-style: none;
    margin: 0 auto;
  }