.blockSearch{
    max-width: 100vw;
    background-image: url('../../assets/images/backgroundSearch.jpg') ;
    height: 160px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}