.wrapper_tittle{
    text-align: end;
    margin: 20px 0 0 0;
    color: #112317;
    display: flex
;
    align-items: center;
    font-size: 22px;
    border-bottom: 1px solid #112317;
}
.wrapper_tittle span{
    color: #78a678;
    padding: 0 20px;
    font-size: 23px;
    font-weight: 600;
}

.wrapper_tittle h2{
    margin: 0;
}