p{
    margin: 0;
}
.container-search{
    width: 100%;
    display: flex;
    border-radius: 15px;
    border: 3px solid #78A678;
    align-items: center;
    padding: 5px 15px;
    justify-content: space-between;
    gap: 10px;
    direction: ltr;
    background-color: white;
}
.container-search.withSug{
    border-radius: 15px 15px 0 0;
}
.search{
    width: 85%;
    border: none;
    outline: none;
    color: #112317;
    font-size: 16px;
    
}
.search_btn img{
    cursor: pointer;
}

.block_search{
    width: 100%;
    box-sizing: border-box;
    direction: rtl;
}
